{extends $original_template}

{block detail}
	<div class="container">
		<h2>{$item->getProduction()->getName()}
			<small>{$item->getDate()|date:'j. n. Y H:i:s'}</small>
		</h2>

		<p><b>Autor:</b>{$item->getProduction()->getPlay()->getAuthor()}</p>
		<p>{$item->getProduction()->getPlay()->getDescription()}</p>
	</div>
{/block}