{block content}
	<div n:if="$upcomingPerformances" class="performance-group container-fluid">
		<h2>{_main.upcommingPerformance}</h2>
		{dump $upcomingPerformances}
		{foreach $upcomingPerformances as $upcomingPerformance}
			{control performance $upcomingPerformance->ID}
		{/foreach}

	</div>
	<div class="rehearsal-group container-fluid">
		<h2>{_main.upcommingRehearsal}</h2>
		{control rehearsal 1}
		{control rehearsal 1}
		{control rehearsal 1}
		{control rehearsal 1}

	</div>
{/block}