{block content}
	<div class="performance-group container-fluid">
		<h2>Nadcházející představení</h2>
		{control performance 4}
		{control performance 4}
		{control performance 4}
		{control performance 4}
		{control performance 4}
		{control performance 4}
	</div>
{/block}