@import "core/_variables";
@import "core/_mixins";
@import "components/_components";
@import "base/_base";
@import "layout/_layout";

html, body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

#top-navbar {
  margin-bottom: 0px;
  -webkit-box-shadow: 0 5px 9px rgba(39, 42, 44, .5);
  -moz-box-shadow: 0 5px 9px rgba(39, 42, 44, .5);
  box-shadow: 0 5px 9px rgba(39, 42, 44, .5);
  position: fixed;
  width: 100%;
  .logo-wrapper {
    margin-top: 5px;
    height: 40px;
    width: 250px;
    position: absolute;
    border-right: 1px solid gray;
  }
}

#top-navbar img {
  height: 40px;
  position: relative;
}

#menu-toggle {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 50px;
}

.headline {
  color: white;
  position: absolute;
  left: 260px;
  font-style: italic;

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
    line-height: 50px;
    vertical-align: middle;
  }

}

.headline-wrapper {
  border-bottom: solid 1px gray;
  display: block;
  position: relative;
  height: 45px;
  margin-bottom: 5px;
  h1 {
    font-size: 20px;
    display: inline-block;
    bottom: 5px;
    margin: 0px;
    position: absolute;

  }
  .btn {
    position: absolute;
    right: 10px;
    bottom: 5px;
    padding: 2px 12px;

  }
}