@import "core/_variables";
@import "core/_mixins";
@import "components/_components";
@import "base/_base";
@import "layout/_layout";

html, body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

#top-navbar {
  margin-bottom: 0px;
  -webkit-box-shadow: 0 5px 9px rgba(39, 42, 44, .5);
  -moz-box-shadow: 0 5px 9px rgba(39, 42, 44, .5);
  box-shadow: 0 5px 9px rgba(39, 42, 44, .5);
  position: fixed;
  width: 100%;
}

#top-navbar img {
  height: 50px;
  padding: 5px;
}

