#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

includes:
    - factories.neon


services:
	- App\ISModule\Model\UserManager
	- App\Forms\FormFactory
	router: App\RouterFactory::createRouter
	cacheStorage:
			class: Nette\Caching\Storages\DevNullStorage

extensions:
    translation: Kdyby\Translation\DI\TranslationExtension
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension

doctrine:
	user: sql7142336
	host: sql7.freesqldatabase.com
	password: TMyFXqt9yb
	dbname: sql7142336
	metadata:
		App\ISModule\Model: %appDir%/ISModule/model

translation:
    default: cs
    fallback: [cs_CZ, cs]
    whitelist: [cs]
