#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

includes:
    - factories.neon


services:
	- App\ISModule\Model\UserManager
	- App\Forms\FormFactory
	router: App\RouterFactory::createRouter
	cacheStorage:
			class: Nette\Caching\Storages\DevNullStorage

database:
	dsn: "mysql:host=sql7.freesqldatabase.com;dbname=sql7142336"
	user: sql7142336
	password: TMyFXqt9yb
	options:
		lazy: yes

extensions:
    translation: Kdyby\Translation\DI\TranslationExtension

translation:
    default: cs
    fallback: [cs_CZ, cs]