{block title}Přihlásit se{/block}
{block content}

<div class="login-wrapper">
    <div class="col-login col-centered">
        <img class="logo" src="{$basePath}/images/logo_small.png">
        <!-- <h2 class="form-signin-heading" n:block=title>{_ forms.login.title}</h2> -->
		{control signInForm}
    </div>
</div>
