<div class="performance-control col-lg-2 well">
	<div class="performance-control-content">
		<h3>Predstaveni</h3>
		<img class="img-rounded" alt="">
		<p>Moje role :*</p>
		<time>cas</time>
	</div>
</div>