<div class="performance-control col-lg-2 well">
	<div class="performance-control-content">
		<h3>{$performance->nazev}</h3>
		<img class="img-rounded" src="{$basePath}/images/store/{$play->fotka}" alt="{$performance->nazev}">
		<p n:inner-foreach="$roles as $role">{$role->nazev} {sep}, {/sep} </p>
		<time>{$performance->Datum|date:"%d. %m. %Y"}{$performance->Datum|date:"%H:%M:%S"}</time>
	</div>
</div>