.dashboard-item {

  .well {
    min-width: 160px;
    padding: 10px;
    margin: 3px;

    h3 {
      font-size: 15px;
      border-bottom: solid 1px gray;

    }

    .image-wrapper {
      position: relative;
      margin: 0 30%;
      width: 40%;
    }

    table {
      width: 100%;
    }
    tr {
      padding: 0;
      color: gray;
    }

  }

  a, a:hover, a:active a:visited {
    color: gray;
    text-decoration: none;
  }
}

.dashboard-item:hover .well {
  background-color: #a9c7de;
}

