@import "../core/mixins";

.performance-group {
  @include clearfix();

  .performance-control-content {
    border-radius: 4px;
    padding: 0 5px;

  }


  .image-wrapper {
    position: relative;
    margin: 0 30%;
    width: 40%;
  }

  .well {
    min-width: 160px;
    padding: 10px;
    margin: 3px;



    table {
      width: 100%;
    }
    tr {
      padding: 0;
      color: gray;
    }

  }

}