@import "../core/mixins";

.performance-group {
  @include clearfix();

  .performance-control-content {
    border-radius: 4px;
    padding: 0 5px;

  }

  .image-wrapper {
    position: relative;
    margin: 0 15%;
    width: 70%;
  }

  .well {
    min-width: 70px;
    padding: 10px;
    h3 {
      font-size: 15px;
      border-bottom: solid 1px gray;
    }
    p {
      padding: 0;
    }


  }
}