@import "../core/mixins";

.performance-group {
  @include clearfix();

  .performance-control-content {
    background-color: #caf896;
    border-radius: 4px;
    padding: 0 5px;

  }

  .image-wrapper {
    position: relative;
    img {
      margin: 0 15%;

    }
  }
  .performance-control-content img {
    width: 70%;

  }
}