.sidebar-nav li {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #222222;
  background-color: #555555;
  line-height: 50px;
  vertical-align: middle;
  &:hover {
  }
  a {
	color: #CCC;
	font-size: 1.1em;
  }
  &.performance,
  &.role,
  &.rehearsals,
  &.production {
	background-repeat: no-repeat;
	background-position: 98%;
	background-size: 40px;
  }
  &.performance {
	background-image: url("../images/icons/performance.png");
  }
  &.role {
	background-image: url("../images/icons/role.png");
  }
  &.rehearsals {
	background-image: url("../images/icons/rehearsals.png");
  }
  &.production {
	background-image: url("../images/icons/production.png");
  }

}