@charset "UTF-8";
/*
 * @file _colors.scss
 * Color variables for web. Put each color here to easily changing
 *
 */
/* @var $escToRoot path form css file to root of web */
/* @var $imageFolder path to images from root */
/*
 * @file _colors.scss
 * Color variables for web. Put each color here to easily changing
 *
 */
/* @var $escToRoot path form css file to root of web */
/* @var $imageFolder path to images from root */
/*<div class="sixteen-nine">
<div class="content">
  insert content here
  this will maintain a 16:9 aspect ratio
</div>
</div>*/
/**
 * Mixin for styling anchors
 **/
/*
@mixin image-url($name) {
  @return url(../../pictures/);
}*/
/*
 * @file components.scss
 * File of imports. Every imported file is "component" little piece of web witch is repeating
 * in most of sections of web.
 *
 */
/*
 * @file base.scss
 * Only imports of base styles. Text, font-face, images or wells (from bootstrap)
 *
 */
/*
 * @file _colors.scss
 * Color variables for web. Put each color here to easily changing
 *
 */
/* @var $escToRoot path form css file to root of web */
/* @var $imageFolder path to images from root */
/*
 * @file _colors.scss
 * Color variables for web. Put each color here to easily changing
 *
 */
/* @var $escToRoot path form css file to root of web */
/* @var $imageFolder path to images from root */
/*<div class="sixteen-nine">
<div class="content">
  insert content here
  this will maintain a 16:9 aspect ratio
</div>
</div>*/
/**
 * Mixin for styling anchors
 **/
/*
@mixin image-url($name) {
  @return url(../../pictures/);
}*/
/*
 * @file _colors.scss
 * Color variables for web. Put each color here to easily changing
 *
 */
/* @var $escToRoot path form css file to root of web */
/* @var $imageFolder path to images from root */
/*<div class="sixteen-nine">
<div class="content">
  insert content here
  this will maintain a 16:9 aspect ratio
</div>
</div>*/
/**
 * Mixin for styling anchors
 **/
/*
@mixin image-url($name) {
  @return url(../../pictures/);
}*/
.img-circle {
  -webkit-border-radius: 53% !important;
  -moz-border-radius: 53% !important;
  -ms-border-radius: 53% !important;
  border-radius: 53% !important;
  border: 4px solid white; }

.image-container {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color: black; }

.ratio-16-9 {
  padding-bottom: 56.25%;
  /* 9/16*100 */ }

.ratio-4-3 {
  padding-bottom: 75%;
  /* 3/4*100 */ }

.ratio-1-1 {
  padding-bottom: 100%;
  /* ÔÇŽ */ }

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

/*
<div class="image-container ratio-16-9">
<img src="imgage.jpg"/>
</div>*/
/*
 * @file layout.scss
 * File of imports. Import layouts. Special styles for individual pages on site.
 */
/*
 * @file _colors.scss
 * Color variables for web. Put each color here to easily changing
 *
 */
/* @var $escToRoot path form css file to root of web */
/* @var $imageFolder path to images from root */
/*<div class="sixteen-nine">
<div class="content">
  insert content here
  this will maintain a 16:9 aspect ratio
</div>
</div>*/
/**
 * Mixin for styling anchors
 **/
/*
@mixin image-url($name) {
  @return url(../../pictures/);
}*/
/*
 * @file _colors.scss
 * Color variables for web. Put each color here to easily changing
 *
 */
/* @var $escToRoot path form css file to root of web */
/* @var $imageFolder path to images from root */
body#sign-in-page {
  background-image: url("../images/sydney-363244_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

html, body {
  margin: 0;
  height: 100%; }

/*# sourceMappingURL=style.css.map */

#sign-in-page {
  color: white;
}

#sign-in-page .form-container {
  background-color: rgba(255, 255, 255, 0.3);
  overflow: auto;
}

#sign-in-page .form-container {
  background-color: rgba(255, 255, 255, 0.3);
  overflow: auto;
}

#top-navbar {
  margin-bottom: 0px;
  -webkit-box-shadow: 0 5px 9px rgba(39, 42, 44, .5);
  -moz-box-shadow: 0 5px 9px rgba(39, 42, 44, .5);
  box-shadow: 0 5px 9px rgba(39, 42, 44, .5);
}

.sidebar-nav li {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #222222;
  background-color: #555555;
  line-height: 50px;
  vertical-align: middle;

}

.sidebar-nav li a {
  color: #B2D1EB;
  font-size: 1.1em;
}

.sidebar-nav li :hover {
  background-color: #555555;
}

.sidebar-nav li.performance {
  background-image: url("../images/icons/performance.png");
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 40px;

}

.sidebar-nav li.role {
  background-image: url("../images/icons/role.png");
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 40px;

}

.sidebar-nav li.rehearsals {
  background-image: url("../images/icons/rehearsals.png");
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 40px;

}

.sidebar-nav li.production {
  background-image: url("../images/icons/production.png");
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 40px;

}
